.content-box {
  strong,
  b {
    color: $lightergray;
  }
  background:      $white;
  color:           $lightgray;
  padding:         2rem;
  border-radius:   1rem;
  box-shadow:      $darkgray;
  position:        relative;
  z-index:         1;
  margin-top:      0.82rem;
  margin-left:     calc(var(--sidebar-offset) + 6rem) !important;
  margin-right:    0 !important;
  width:           100% - var(--sidebar-offset) !important;
  max-width:       none;
  text-align:      justify;
  text-justify:    inter-word;
}

.content-box + .content-box {
  margin-top: 2rem;
}

.content-box h1,
.content-box h2,
.content-box h3 {
  text-align: left;
}
