.modal {
  position: fixed !important;
  inset: 0;
  z-index: 20000;
  background-color: rgba(0, 0, 0, 0.75);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.modal-content {
  z-index: 20001;
  background-color: $darkergray;
  color: $lightergray;
  margin: 10% auto;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  max-height: 90vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.modal-content h2 {
  margin-top: 0;
}

.close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content ul {
  max-height: 40vh;
  overflow-y: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  @include custom-scrollbar(vertical);
}