@media (max-width: 768px) {

  html,
  body {
    overflow-x: hidden;
  }

  .sidebar {
    position: fixed;
    flex-direction: row;
    top: auto;
    bottom: -0.1rem;
    left: 0;
    width: 95%;
    padding: 0rem 0.5rem 0rem 0.5rem;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 0rem 0rem;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .sidebar-btn {
    flex: 1;
    margin: 0 0.5rem;
    padding: 0.75rem 0;
    background: lighten($gray, 90%);
    border-radius: 0;
    text-align: center;
  }

  .sidebar-btn:hover {
    background: lighten($gray, 80%);
  }

  .page-content {
    padding: 0.5rem !important;
  }

  .content-box {
    margin: 1rem 0 !important;
    padding: 1rem !important;
    width: calc(100% - 2rem) !important;
    max-width: none !important;
  }

  .timeline {
    position: relative;
    margin-left: 0.5rem;
    padding-top: 0rem !important;
    padding-bottom: 0rem;
  }

  .timeline::before {
    content: "";
    position: absolute;
    left: -0.026rem;
    top: 0.1rem !important;
    bottom: 0;
    width: 2px;
    background: $gray;
  }

  .project-box {
    flex-direction: column !important;
    width: 100% !important;
    margin: 0rem 0.5rem 1.5rem 1.5rem !important;
    align-items: space-around !important;
  }

  .project-box-left,
  .project-box-center {
    width: 100%;
  }

  .custom-header .nav-container {
    margin-right: 0.5rem;
    padding: 0.5rem 0rem !important;
  }

  .custom-header .nav-right a {
    margin-right: 0rem !important;
  }

  body {
    padding-bottom: 4rem;
  }
}