@media (max-width: 768px) {

  html,
  body {
    overflow-x: hidden;
  }

  .sidebar {
    position: fixed;
    flex-direction: row;
    top: auto;
    bottom: -0.1rem;
    left: 0;
    width: 96%;
    padding: 0rem 0.5rem 0rem 0.5rem;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 0rem 0rem;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .sidebar-btn {
    flex: 1;
    margin: 0 0.5rem;
    padding: 0.75rem 0;
    background: lighten($gray, 90%);
    border-radius: 0;
    text-align: center;
  }

  .sidebar-btn:hover {
    background: lighten($gray, 80%);
  }

  .page-content {
    padding: 0.5rem !important;
  }

  .content-box {
    margin: 0rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 1rem !important;
    padding: 1rem !important;
    width: calc(100% - 2rem) !important;
    max-width: none !important;
  }

  .timeline {
    position: relative;
    margin-left: 0.5rem;
    padding-top: 0rem !important;
    padding-bottom: 0rem;
  }

  .timeline::before {
    content: "";
    position: absolute;
    left: -0.026rem;
    top: 0.1rem !important;
    bottom: 0;
    width: 2px;
    background: $gray;
  }

  .inner-box {
    flex-direction: column !important;
    width: 100% !important;
    margin: 0rem 0rem 1.5rem 0rem !important;
    align-items: space-around !important;
  }

  .inner-box-assets {
    flex-direction: row !important;
    gap: 0.6rem !important;
    justify-content: center !important;
  }

  // .inner-box-assets .video-thumb{
  //   flex: 0 0 45%;
  //   max-width: 140px;
  //   margin: 0;
  // }

  .button.slim {
    padding: 1.6rem 1.2rem !important;
    border-radius: 0.5rem !important;
  }

  .inner-box-assets .project-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 !important;
    height: 100% !important;
    gap: 0.5rem;
  }

  .inner-box-assets .button {
    margin: 0;
  }

  .inner-box-text {
    margin-bottom: 0;
  }

  .custom-header .nav-container {
    margin-right: 0.5rem;
    padding: 0.5rem 0rem !important;
  }

  .custom-header .nav-right a {
    margin-right: 0rem !important;
  }

  .logo {
    position: relative;
    display: block;
    width: 200px;
    max-width: 100%;
    line-height: 0;
    padding: 0rem 0 0rem 0;
    margin: 0.5rem 0;
    border-radius: 8px;
  }

  .modal-content {
    margin: 30% auto !important;
  }
}