.timeline {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}

.timeline::before {
  content: "";
  position: absolute;
  left: -0.026rem;
  top: 1.5rem;
  bottom: 0;
  width: 2px;
  background: $gray;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.timeline-point {
  position: absolute;
  left: -0.7rem;
  top: 45%;
  width: 1rem;
  height: 1rem;
  background: $gray;
  border: 5px solid $darkergray;
  border-radius: 100%;
  z-index: 1;
}