$blue: #0072BD;
$orange: #D95319;
$yellow: #EDB120;
$violet: #7E2F8E;
$green: #77AC30;
$darkgray: #262626;
$darkergray: #1A1A1A;
$gray: #808080;
$lightishgray: #BFBFBF;
$lightgray: #D0D0D0;
$lightergray: #F5F5F5;
$white: #fafafa;

:root {
  --sidebar-offset:          15%;
  --sidebar-stick-offset:    2rem;
  --sidebar-footer-gap:      3rem;
}