<div id="modal-masters" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>M. Sc. exam list</h1>
    <ul>
      <li>Nonlinear systems and control <span style="color: #808080;">(12 ECTS)</span></li>
      <li>Filtering and optimal control <span style="color: #808080;">(12 ECTS)</span></li>
      <li>Process automation <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Robust control <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Multivariable feedback control <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Intelligent and hybrid control <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Digital control systems <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Advanced methods in control <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Control of communication and energy networks <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Control of autonomous multi-agent systems <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Robotics <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Control problems in robotics <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Machine learning <span style="color: #808080;">(6 ECTS)</span></li>
    </ul>
  </div>
</div>

<div id="modal-bachelors" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>B. Sc. exam list</h1>
    <ul>
      <li>Programming <span style="color: #808080;">(21 ECTS)</span></li>
      <li>Geometry and algebra <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Mathematics <span style="color: #808080;">(21 ECTS)</span></li>
      <li>Physics <span style="color: #808080;">(12 ECTS)</span></li>
      <li>Electromagnetic fields <span style="color: #808080;">(9 ECTS)</span></li>
      <li>Electrical engineering <span style="color: #808080;">(9 ECTS)</span></li>
      <li>Analog electronics <span style="color: #808080;">(9 ECTS)</span></li>
      <li>Digital electronics <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Digital design <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Signal theory and processing <span style="color: #808080;">(12 ECTS)</span></li>
      <li>Digital communications <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Telecommunication networks <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Electronic measurements <span style="color: #808080;">(9 ECTS)</span></li>
      <li>Lab of electronic instrumentation <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Dynamical systems <span style="color: #808080;">(9 ECTS)</span></li>
      <li>Automatic control <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Digital control systems <span style="color: #808080;">(6 ECTS)</span></li>
      <li>Lab of electronics for automation <span style="color: #808080;">(9 ECTS)</span></li>
      <li>Economics and business organization <span style="color: #808080;">(6 ECTS)</span></li>
      <li>English <span style="color: #808080;">(3 ECTS)</span></li>
    </ul>
  </div>
</div>
