<div class="inner-box content-box">
  <div class="inner-box-assets" style="width: 150px;">
    <a href="https://www.sasa-aerospace.it/flight-team" target="_blank">
      <img src="/assets/images/sft_logo.png" alt="Sapienza Flight Team logo" class="image-thumb">
    </a>
  </div>
  <div class="inner-box-text">
    <h1 id="sft">Autopilot Control Systems Engineer <span style="color: gray;">@</span>
      <a href="https://www.sasa-aerospace.it/flight-team" target="_blank">
        <span style="color: gray;">Sapienza Flight Team</span>
      </a>
    </h1>
    <p>
      <strong>Duration:</strong> Fall 2024 - Present
    </p>
    <p>
      Since joining the team, our goal has been to build a tilt-rotor VTOL aircraft for the <a href="https://suas-competition.org/" targe="_blank">SUAS Competition</a>. I've contributed significantly to the development from scratch of planning and control software for vertical and transition flight, conducting both simulations and field tests. I've also collaborated with other departments, gaining cross-disciplinary knowledge from fellow engineers. 
    </p>
    <p>
      For further details, have a look at the related <a href="/projects#stingray" target="_blank">project card</a>.
    </p>
  </div>
</div>

<div class="inner-box content-box">
  <div class="inner-box-assets" style="width: 150px;">
    <a href="https://www.icron.it" target="_blank">
      <img src="/assets/images/icron_logo.png" alt="ICRON logo" class="image-thumb">
    </a>
  </div>
  <div class="inner-box-text">
    <h1> Race Timing Specialist and Team Lead <span style="color: gray;">@</span>
      <a href="https://www.icron.it" target="_blank">
        <span style="color: gray;">ICRON</span>
      </a>
    </h1>
    <p>
      <strong>Duration:</strong> Fall 2018 - Present
    </p>
    <p>
      My collaboration with ICRON has evolved from a technician working with professional timing software and hardware to team leader, responsible for the setup and execution of race logistics and timing procedures, as well as the real-time generation and validation of athlete rankings, even in high-pressure environments. It has significantly strengthened my autonomy, teamwork, and problem-solving abilities.
    </p>
  </div>
</div>