<div class="inner-box content-box">
  <div class="inner-box-assets" style="width: 150px;">
    <a href="https://www.sasa-aerospace.it/flight-team" target="_blank">
      <img src="/assets/images/sft_logo.png" alt="Sapienza Flight Team logo" class="image-thumb">
    </a>
  </div>
  <div class="inner-box-text">
    <h1>Autopilot Control Systems Engineer <span style="color: gray;">@</span>
      <a href="https://www.sasa-aerospace.it/flight-team" target="_blank">
        <span style="color: gray;">Sapienza Flight Team</span>
      </a>
    </h1>
    <p>
      <strong>Duration:</strong> Fall 2024 - Present
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante mi, eleifend non mi sed, cursus consequat magna. Suspendisse quam lectus, interdum vel aliquet ut, condimentum quis purus. Maecenas dignissim purus sapien, vel viverra sapien euismod ut. Vestibulum mattis lectus eu vehicula mollis.
    </p>
  </div>
</div>

<div class="inner-box content-box">
  <div class="inner-box-assets" style="width: 150px;">
    <a href="https://www.icron.it" target="_blank">
      <img src="/assets/images/icron_logo.png" alt="ICRON logo" class="image-thumb">
    </a>
  </div>
  <div class="inner-box-text">
    <h1> Race Timing Specialist and Team Lead <span style="color: gray;">@</span>
      <a href="https://www.icron.it" target="_blank">
        <span style="color: gray;">ICRON</span>
      </a>
    </h1>
    <p>
      <strong>Duration:</strong> Fall 2018 - Present
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante mi, eleifend non mi sed, cursus consequat magna. Suspendisse quam lectus, interdum vel aliquet ut, condimentum quis purus. Maecenas dignissim purus sapien, vel viverra sapien euismod ut. Vestibulum mattis lectus eu vehicula mollis.
    </p>
  </div>
</div>