<div class="inner-box content-box">
  <div class="inner-box-text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante mi, eleifend non mi sed, cursus consequat magna. Suspendisse quam lectus, interdum vel aliquet ut, condimentum quis purus. Maecenas dignissim purus sapien, vel viverra sapien euismod ut. Vestibulum mattis lectus eu vehicula mollis. Aenean tempor enim non ex commodo, id dignissim sem dictum. Aenean vulputate ultricies ex at finibus. In hac habitasse platea dictumst. Donec vel augue nec sem pretium placerat et eget odio. Quisque auctor, justo vel porta posuere, nibh lorem lobortis odio, in euismod ex quam eu purus. Nullam sed turpis porta, fringilla nunc at, accumsan est. Donec ut turpis eget diam gravida blandit vel consectetur erat.
    </p>
  </div>

  <div class="inner-box-assets"  style="width: 300px;">
    <a href="https://maps.app.goo.gl/cCXvJTmF1mw12r9w6" target="_blank">
      <img src="/assets/images/photo_moto_2.JPG" alt="Antonio's photo with his motorcycle" class="logo" style="width: 250px">
    </a>
  </div>
</div>