<div class="inner-box content-box">
  <div class="inner-box-assets" style="width: 100px;">
    <img src="/assets/images/italy_flag.png" alt="Italian flag" class="logo">
  </div>
  <div class="inner-box-text" style="margin: 0">
    <h1>Italian, native</h1>
  </div>
</div>

<div class="inner-box content-box">
  <div class="inner-box-assets" style="width: 100px;">
    <img src="/assets/images/uk_flag.png" alt="UK flag" class="logo">
  </div>
  <div class="inner-box-text">
    <h1>English, fluent</h1>
    <p><strong>Certification:</strong> <a href="/assets/documents/cambridge_cert.pdf" target="_blank" rel="noopener">Cambridge English C1 Advanced</a> </p>
    <p><strong>Score:</strong> 207 (Grade A, CEFR Level C2)</p>
  </div>
</div>