<div class="inner-box content-box">
  <div class="inner-box-text">
    <p style="margin-bottom: 1em;">
       As a control engineer, I enjoy turning theory into real-world systems. I'm especially drawn to machines that move and interact with their environment — like drones, robots, and autonomous vehicles. I like working across the full pipeline: from modeling and control design to embedded implementation and hands-on testing. Whether it's tuning a nonlinear controller or chasing down a bug, I find joy in making complex things work cleanly and reliably.
    </p>
    <p>
      Away from equations and code, you'll likely find me strumming an acoustic guitar (with varying success) or out exploring new <a href="https://maps.app.goo.gl/jjU8s8cRbTefRJ7t8" target="_blank">places</a> on my motorcycle - preferably with good weather and even better views.
    </p>
  </div>

  <div class="inner-box-assets"  style="width: 300px;">
    <a href="https://maps.app.goo.gl/cCXvJTmF1mw12r9w6" target="_blank">
      <img src="/assets/images/photo_moto_2.JPG" alt="Antonio's photo with his motorcycle" class="image-thumb" style="width: 250px">
    </a>
  </div>
</div>