<div class="project-box content-box">
  <div class="project-box-text">
    <div class="project-tags">
      <span class="tag">robotics</span>
      <span class="tag">optimization</span>
      <span class="tag">signal processing</span>
    </div>
    <h3>Project Alpha</h3>
    <p>
      Description of Project Alpha…
      Description of Project Alpha…
      Description of Project Alpha…
      Description of Project Alpha…
      Description of Project Alpha…
      Description of Project Alpha…
      Description of Project Alpha…
    </p>
  </div>
  <div class="project-box-img">
    <img src="../assets/images/homer.gif" alt="Description of GIF">
  </div>
</div>

<div class="project-box content-box">
  <h3>Project Beta</h3>
  <p>Description of Project Beta…</p>
  <a href="/assets/resume_antonio_rapuano.pdf" class="button">📄my résumé (PDF)</a>
</div>