<div class="sidebar">
  <a href="{{ "/" | relative_url }}" class="sidebar-btn">
    <i class="fa-solid fa-house icon"></i>
    <span class="label">Home</span>
  </a>
  <a href="{{ "/about/" | relative_url }}" class="sidebar-btn">
    <i class="fa-solid fa-user icon"></i>
    <span class="label">About</span>
  </a>
  <a href="{{ "/projects/" | relative_url }}" class="sidebar-btn">
    <i class="fa-solid fa-briefcase icon"></i>
    <span class="label">Projects</span>
  </a>
  <a href="{{ "/assets/cv_antonio_rapuano.pdf" | relative_url }}"
     download
     class="sidebar-btn">
    <i class="fa-solid fa-file-lines icon"></i>
    <span class="label">Resume</span>
  </a>
</div>
