<div class="sidebar">
  <a
    href="{{ "/" | relative_url }}"
    class="sidebar-btn{% if page.url == "/" %} active{% endif %}"
  >
    <i class="fa-solid fa-house icon"></i>
    <span class="label">home</span>
  </a>
  <a
    href="{{ "/about/" | relative_url }}"
    class="sidebar-btn{% if page.url == "/about/" %} active{% endif %}"
  >
    <i class="fa-solid fa-address-card icon"></i>
    <span class="label">about</span>
  </a>
  <a
    href="{{ "/projects/" | relative_url }}"
    class="sidebar-btn{% if page.url == "/projects/" %} active{% endif %}"
  >
    <i class="fa-solid fa-screwdriver-wrench icon"></i>
    <span class="label">projects</span>
  </a>
  <a
  href="{{ "/assets/resume_antonio_rapuano.pdf" | relative_url }}"
  target="_blank" rel="noopener"
  class="sidebar-btn{% if page.url == "/assets/resume_antonio_rapuano.pdf" %} active{% endif %}"
>
  <i class="fa-solid fa-file-lines icon"></i>
  <span class="label">resume</span>
</a>
</div>
