<div class="sidebar">
  <a
    href="{{ "/" | relative_url }}"
    class="sidebar-btn{% if page.url == "/" %} active{% endif %}"
  >
    <i class="fa-solid fa-house icon"></i>
    <span class="label">Home</span>
  </a>
  <a
    href="{{ "/about/" | relative_url }}"
    class="sidebar-btn{% if page.url == "/about/" %} active{% endif %}"
  >
    <i class="fa-solid fa-user icon"></i>
    <span class="label">About</span>
  </a>
  <a
    href="{{ "/projects/" | relative_url }}"
    class="sidebar-btn{% if page.url == "/projects/" %} active{% endif %}"
  >
    <i class="fa-solid fa-briefcase icon"></i>
    <span class="label">Projects</span>
  </a>
  <a
  href="{{ "/assets/cv_antonio_rapuano.pdf" | relative_url }}"
  target="_blank" rel="noopener"
  class="sidebar-btn{% if page.url == "/assets/cv_antonio_rapuano.pdf" %} active{% endif %}"
>
  <i class="fa-solid fa-file-lines icon"></i>
  <span class="label">Resume</span>
</a>
</div>
