<!-- software and tools -->

<div class="inner-box content-box">
  <div class="skill-group">
    <h1 class="skill-title">Software and tools</h1>
    <div class="skill-box-scroll-wrapper">
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/arduino_logo.png" alt="Arduino logo">
          </div>
          <div class="skill-name">
            Arduino
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star active">★</span>
          </div>
        </div>
        
        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/blender_logo.png" alt="Blender logo">
          </div>
          <div class="skill-name">
            Blender
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/fusion360_logo.png" alt="Fusion 360 logo">
          </div>
          <div class="skill-name">
            Fusion 360
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/ltspice_logo.png" alt="LTSpice logo">
          </div>
          <div class="skill-name">
            LTSpice
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/office_logo.png" alt="Office logo">
          </div>
          <div class="skill-name">
            Office
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/quartus_prime_logo.png" alt="Quartus Prime logo">
          </div>
          <div class="skill-name">
            Quartus P.
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/simulink_logo.png" alt="Simulink logo">
          </div>
          <div class="skill-name">
            Simulink
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star active">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/stateflow_logo.png" alt="Stateflow logo">
          </div>
          <div class="skill-name">
            Stateflow
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star active">★</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- programming and formatting -->

<div class="inner-box content-box">
  <div class="skill-group">
    <h1 class="skill-title">Programming and formatting</h1>
    <div class="skill-box-scroll-wrapper">
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/c_logo.png" alt="C logo">
          </div>
          <div class="skill-name">
            C/C++
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star active">★</span>
          </div>
        </div>

        <!-- <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/css_logo.png" alt="CSS logo">
          </div>
          <div class="skill-name">
            CSS
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
        </div> -->

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/java_logo.png" alt="Java logo">
          </div>
          <div class="skill-name">
            Java
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/html_logo.png" alt="HTML logo">
          </div>
          <div class="skill-name">
            HTML/CSS
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/latex_logo.png" alt="LaTeX logo">
          </div>
          <div class="skill-name">
            LaTeX
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star active">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/matlab_logo.png" alt="MATLAB logo">
          </div>
          <div class="skill-name">
            MATLAB
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star active">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/python_logo.png" alt="Python logo">
          </div>
          <div class="skill-name">
            Python
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star active">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/verilog_logo.png" alt="Verilog logo">
          </div>
          <div class="skill-name">
            Verilog
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star active">★</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- hardware -->

<div class="inner-box content-box">
  <div class="skill-group">
    <h1 class="skill-title">Hardware</h1>
    <div class="skill-box-scroll-wrapper">
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/3d-printer.png" alt="3D printing">
          </div>
          <div class="skill-name">
            3D printing
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/oscilloscope.png" alt="Measuring">
          </div>
          <div class="skill-name">
            Measuring
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star">★</span>
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-icon">
            <img src="/assets/images/pcb-board.png" alt="Soldering">
          </div>
          <div class="skill-name">
            Soldering
          </div>
          <div class="skill-stars">
            <span class="star active">★</span>
            <span class="star active">★</span>
            <span class="star">★</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>