<div class="project-box content-box">
  <div class="project-box-text">
    <div class="project-tags">
      <span class="tag">master thesis</span>
      <span class="tag">matlab</span>
      <span class="tag" data-tooltip="partial differential equation modeling">pde modeling</span>
      <span class="tag">data-driven</span>
      <span class="tag">aerial robotics</span>
      <span class="tag" data-tooltip="model predictive control">mpc</span>
    </div>
    <h1>Modeling and control of a UAV carrying a load with a flexible cable</h1>
    <p>
      Realizing a mathematical model (based on PDEs) and a control algorithm to achieve the displacement of a load connected to a UAV via a flexible cable.
    </p>
  </div>
  <div class="project-box-img">
    <img src="../assets/images/homer.gif" alt="Flexible cable UAV project">
  </div>
</div>

<div class="project-box content-box">
  <div class="project-box-text">
    <div class="project-tags">
      <span class="tag">bachelor thesis</span>
      <span class="tag">verilog</span>
      <span class="tag" data-tooltip="field-programmable gate array">fpga</span>
      <span class="tag">signal processing</span>
      <span class="tag">digital design</span>
    </div>
    <h1>Implementation on FPGA of a circuit controlling a mechanical arm</h1>
    <p>
      Graduation project: designed and implemented a low-level circuit on FPGA to control servomotors of a mechanical arm.
    </p>
  </div>
  <div class="project-box-img">
    <img src="../assets/images/homer.gif" alt="FPGA mechanical arm">
  </div>
</div>