---
---

@import "minima";

$blue: #0072BD;
$orange: #D95319;
$yellow: #EDB120;
$violet: #7E2F8E;
$green: #77AC30;
$darkgray: #262626;
$gray: #808080;
$lightishgray: #D0D0D0;
$lightgray: #F0F0F0;
$lightergray: #F5F5F5;
$white: #fafafa;

:root {
  --sidebar-offset: 15%;
}

body {
  background-color: $white;
  color: $darkgray;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3 {
  color: $darkgray;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: $orange;
}

a.button {
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  border: 1.5px solid $lightishgray;
  color: $darkgray !important;
  padding: 2px 2px;
  text-align: center;
  // text-decoration: none !important;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.1s ease;
  font-weight: 500;
}

a.button:hover {
  background-color: $lightgray;
  color: $darkgray;
  border: 1.5px solid $lightishgray;
  text-decoration: none !important;
}

.custom-header {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem var(--sidebar-offset) 0.5rem var(--sidebar-offset)
  }
  .nav-left {
    display: flex;
    align-items: center;
    .brand {
      // font-weight: bold;
      font-size: 1.5rem !important;
      text-transform: lowercase;
      color: $darkgray !important;
      text-decoration: none;
      margin-right: 0.25rem;
    }
    .slug {
      color: $gray;
      font-weight: normal;
      font-size: 1.5rem;
    }
  }
  .nav-center {
    @media (max-width: 768px) { display: none; }
    a {
      margin: 0 0.75rem;
      text-decoration: none;
      &.active { text-decoration: underline; }
    }
  }
  .nav-right {
      a {
        margin-right: 0.75rem;
        font-size: 1.2rem;
        color: $darkgray !important;
        text-decoration: none !important;
        transition: color 0.2s, transform 0.1s;
      }

      a:hover {
        color: $gray !important;
        text-decoration: none !important;
        transform: translateY(-2px);
      }
    }
} 
.site-header.custom-header {
  min-height: auto !important;
}

.sidebar {
  position: fixed;
  top: 10%;
  left: var(--sidebar-offset);
  width: 5rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .sidebar-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background: lighten($gray, 90%);
    border: 1px solid $lightishgray;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    text-decoration: none;
    color: $darkgray !important;
    transition: color 0.2s, background 0.2s, transform 0.1s;
  }

  .sidebar-btn:hover {
    color: $darkgray !important;
    background: lighten($gray, 80%);
    transform: translateY(-2px);
  }

  .icon {
    font-size: 1.5rem;
  }

  .label {
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
}

